body {
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.alert {
  left: 0;
  top: 0;
  overflow: auto;
  -webkit-animation-name: animateAlert;
  -webkit-animation-duration: 0.4s;
  animation-name: animateAlert;
  animation-duration: 0.4s;
  padding: 2px 5px;
  margin: 20px 0;
}

@-webkit-keyframes animateAlert {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateAlert {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.bg-grey {
  background-color: #e3e3e3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-show {
  display: block;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 0px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.loading-screen {
  height: 100vh;
}

.loader {
  border: 10px solid #3498db;
  border-radius: 50%;
  border-top: 10px solid #ffffff;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.loader-2 {
  border: 5px solid#ffffff;
  border-radius: 50%;
  border-top: 5px solid transparent;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.text-teal {
  color: #0097a7;
}
