.course-description {
  text-align: justify;
}

.card-header-green {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  height: 30px;
}
.card-header-red {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  height: 30px;
}
